{% include "navbar.html" %}

{% include "upload.html" %}

{% include "selection.html" %}

<div style="max-width: 400px; margin-left: 0; margin-top: 24px;">
    <button class="btn btn-secondary" id="submitButton">
        <span class="spinner-border spinner-border-sm" id="spinner" style="display: none;"></span>
        Predict
    </button>
</div>

<script>
    document.getElementById('submitButton').addEventListener('click', function () {
        var button = document.getElementById('submitButton');
        var spinner = document.querySelector('#submitButton #spinner');

        button.disabled = true;
        spinner.style.display = 'inline-block';

        setTimeout(function () {
            spinner.style.display = 'none';
            button.disabled = false;
        }, 2000);
    });
</script>