<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.0/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.0/dist/MarkerCluster.Default.css" />
</head>

<body>

    <div id="map" style="height: 500px; width: 800px; margin-left: 0; margin-top: 30px; display:none;"></div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.5.0/dist/leaflet.markercluster.js"></script>

    <script>
        function initializeMap() {
            document.getElementById("map").style.display = "block";

            var map = L.map('map').setView([49.511979, 11.2811775], 6); // Uygun bir merkez ve zoom seviyesi

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            var markers = L.markerClusterGroup();

            fetch('/uploads/markers.json')
                .then(response => response.json())
                .then(data => {
                    const uniqueMarkers = new Set();

                    data.forEach(function (latlng) {
                        const coordinateString = latlng[0] + ',' + latlng[1];

                        if (!uniqueMarkers.has(coordinateString)) {
                            uniqueMarkers.add(coordinateString);

                            var marker = L.marker([latlng[0], latlng[1]]);
                            markers.addLayer(marker);
                        }
                    });

                    map.addLayer(markers);
                })
                .catch(error => {
                    console.error("Error loading markers:", error);
                });
        }
    </script>
</body>

</html>