<div class="row">
    <!-- Prediction Date -->
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Prediction Date</h5>
                <input type="date" id="datePicker" name="date" required class="form-control">
                <script>
                    const today = new Date().toISOString().split('T')[0];
                    document.getElementById('datePicker').setAttribute('min', today);
                </script>
            </div>
        </div>
    </div>

    <!-- Model Selection -->
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Choose Prediction Model</h5>
                <div class="d-flex justify-content-center">
                    <select class="form-select mb-3" style="width: 100%; max-width: 330px;">
                        <option selected>LSTM</option>
                        <option value="1">BI-LSTM</option>
                        <option value="2">RF</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>